npm-debug.log*
node_modules
.DS_Store
.*.sw[op]
*.mp4
*.mov
dist
bundle.js
bundle.js.map
report/
.tern-project
resultlog.txt
.npmrc
README.html
coverage
yarn-error*
isolate-*
.nyc_output
package-lock\.json
